@page "/purchaseorderlist"
@using Microsoft.AspNetCore.SignalR.Client
@using SonicWarehouseManagement.Shared
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Purchase order</h2>
<hr />
<a href="/addpurchaseorder" class="btn btn-primary">Create new purchase order</a>
<hr />
<div class="form-inline">
    <label class="sr-only" for="search-ordernumber">Search</label>
    <input type="text" class="form-control mb-2 mr-sm-2" @bind="searchartnum" placeholder="Search article number" />
    <button type="button" class="btn btn-primary mr-sm-2 mb-2" @onclick="Search">Search</button>
</div>
<hr />
@if (polist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Article document</th>
                <th>Bill document</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var po in polist)
            {
                <tr>
                    <td style="font-size: small;">@po.ID</td>
                    <td style="font-size: small;">@po.Article_Doc</td>
                    <td style="font-size: small;">@po.Bill_Doc</td>
                    <td>
                        <a href="/editpurchaseorder/@po.Article_Doc" class="btn-sm btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Pagination TotalPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2" SelectedPage="SelectedPage"></Pagination>
}

@code {
    PurchaseHeaders[] polist;

    private int totalPageQuantity;
    private int currentPage = 1;
    private string searchartnum = string.Empty;

    private HubConnection hubCon;

    protected override async Task OnInitializedAsync()
    {
        hubCon = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/PurchaseHeadersHub"))
            .Build();

        hubCon.On("ReceiveMessage", () =>
        {
            CallLoadData();
            StateHasChanged();
        });

        await hubCon.StartAsync();
        await LoadData();
    }

    private void CallLoadData()
    {
        Task.Run(async () =>
        {
            await LoadData();
        });
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadData(page);
    }

    private async Task Search()
    {
        currentPage = 1;
        await LoadData();
    }

    protected async Task LoadData(int page = 1, int quantityPerPage = 10)
    {
        var httpResponse = await Http.GetAsync($"api/PurchaseOrderHeadersIndex?page={page}&quantityPerPage={quantityPerPage}&article={searchartnum}");

        if (httpResponse.IsSuccessStatusCode)
        {
            totalPageQuantity = int.Parse(httpResponse.Headers.GetValues("pagesQuantity").FirstOrDefault());
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            polist = JsonSerializer.Deserialize<PurchaseHeaders[]>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
            StateHasChanged();
        }
        else
        {
            //Error handler
        }
    }

    public void Dispose()
    {
        _ = hubCon.DisposeAsync();
    }
}