@page "/inventorylist"
@using Microsoft.AspNetCore.SignalR.Client
@using SonicWarehouseManagement.Shared
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Inventory list</h2>
<hr />
@if (ilist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th style="font-size: small;">ID</th>
                <th style="font-size: small;">Item number</th>
                <th style="font-size: small;">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ilist)
            {
                <tr>
                    <td style="font-size: small;">@i.ID</td>
                    <td style="font-size: small;">@i.Item_Code</td>
                    <td style="font-size: small;">@i.Date</td>
                    <td>
                        <a style="font-size: small;" href="/viewinventory/@i.ID" class="btn-sm btn-primary">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Pagination TotalPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2" SelectedPage="SelectedPage"></Pagination>
}

@code {
    Inventory[] ilist;

    private int totalPageQuantity;
    private int currentPage = 1;
    private string searchitemnum = string.Empty;

    private HubConnection hubCon;

    protected override async Task OnInitializedAsync()
    {
        hubCon = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/InventoryHub"))
            .Build();

        hubCon.On("ReceiveMessage", () =>
        {
            CallLoadData();
            StateHasChanged();
        });

        await hubCon.StartAsync();
        await LoadData();
    }

    private void CallLoadData()
    {
        Task.Run(async () =>
        {
            await LoadData();
        });
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadData(page);
    }

    private async Task Search()
    {
        currentPage = 1;
        await LoadData();
    }

    protected async Task LoadData(int page = 1, int quantityPerPage = 10)
    {
        var httpResponse = await Http.GetAsync($"api/Inventories?page={page}&quantityPerPage={quantityPerPage}&item={searchitemnum}");

        if (httpResponse.IsSuccessStatusCode)
        {
            totalPageQuantity = int.Parse(httpResponse.Headers.GetValues("pagesQuantity").FirstOrDefault());
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            ilist = JsonSerializer.Deserialize<Inventory[]>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
            StateHasChanged();
        }
        else
        {
            //Error handler
        }
    }

    public void Dispose()
    {
        _ = hubCon.DisposeAsync();
    }
}