@page "/salesmanlist"
@using Microsoft.AspNetCore.SignalR.Client
@using SonicWarehouseManagement.Shared
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Salesman Master</h2>
<hr />
<a href="/addsalesman" class="btn btn-primary">Create new salesman</a>
<hr />
<div class="form-inline">
    <label class="sr-only" for="search-ordernumber">Search</label>
    <input type="text" class="form-control mb-2 mr-sm-2" @bind="searchsalesmancode" placeholder="Search salesman code" />
    <button type="button" class="btn btn-primary mr-sm-2 mb-2" @onclick="Search">Search</button>
</div>
<hr />
@if (smlist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th style="font-size: small;">ID</th>
                <th style="font-size: small;">Salesman code</th>
                <th style="font-size: small;">Salesman name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sales in smlist)
            {
                <tr>
                    <td style="font-size: small;">@sales.Id</td>
                    <td style="font-size: small;">@sales.Salesman_Code</td>
                    <td style="font-size: small;">@sales.Salesman_Name</td>
                    <td>
                        <a style="font-size: small;" href="/editsalesman/@sales.Id" class="btn-sm btn-primary">Edit</a>
                        <a style="font-size: small;" href="/deletesalesman/@sales.Id" class="btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Pagination TotalPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2" SelectedPage="SelectedPage"></Pagination>
}

@code {
    SalesmanMaster[] smlist;

    private int totalPageQuantity;
    private int currentPage = 1;
    private string searchsalesmancode = string.Empty;

    private HubConnection hubCon;

    protected override async Task OnInitializedAsync()
    {
        hubCon = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/SalesmanHub"))
            .Build();

        hubCon.On("ReceiveMessage", () =>
        {
            CallLoadData();
            StateHasChanged();
        });

        await hubCon.StartAsync();
        await LoadData();
    }

    private void CallLoadData()
    {
        Task.Run(async () =>
        {
            await LoadData();
        });
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadData(page);
    }

    private async Task Search()
    {
        currentPage = 1;
        await LoadData();
    }

    protected async Task LoadData(int page = 1, int quantityPerPage = 10)
    {
        var httpResponse = await Http.GetAsync($"api/SalesmanMasters?page={page}&quantityPerPage={quantityPerPage}&code={searchsalesmancode}");

        if (httpResponse.IsSuccessStatusCode)
        {
            totalPageQuantity = int.Parse(httpResponse.Headers.GetValues("pagesQuantity").FirstOrDefault());
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            smlist = JsonSerializer.Deserialize<SalesmanMaster[]>(responseString,
            new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
            StateHasChanged();
        }
        else
        {
            //Error handler
        }
    }

    public void Dispose()
    {
        _ = hubCon.DisposeAsync();
    }
}