@page "/purchaseorderlist"
@using Microsoft.AspNetCore.SignalR.Client
@using SonicWarehouseManagement.Shared
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Purchase order</h2>
<hr />
<a href="/addpurchaseorder" class="btn btn-primary">Create new purchase order</a>
<hr />
@if (polist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Invoice number</th>
                <th>Posting date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var po in polist)
            {
                <tr>
                    <td>@po.ID</td>
                    <td>@po.Article_Doc</td>
                    <td>@po.Bill_Doc</td>
                    <td>
                        <a href="/editpurchaseorder/@po.ID" class="btn-sm btn-primary">Edit</a>
                        <a href="/deletepurchaseorder/@po.ID" class="btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <Pagination TotalPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2" SelectedPage="SelectedPage"></Pagination>
}

@code {
    PurchaseHeaders[] polist;

    private int totalPageQuantity;
    private int currentPage = 1;

    private HubConnection hubCon;

    protected override async Task OnInitializedAsync()
    {
        hubCon = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/PurchaseHeadersHub"))
            .Build();

        hubCon.On("ReceiveMessage", () =>
        {
            CallLoadData();
            StateHasChanged();
        });

        await hubCon.StartAsync();
        await LoadData();
    }

    private void CallLoadData()
    {
        Task.Run(async () =>
        {
            await LoadData();
        });
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadData(page);
    }

    protected async Task LoadData(int page = 1, int quantityPerPage = 10)
    {
        var httpResponse = await Http.GetAsync($"api/PurchaseHeadersIndex?page={page}&quantityPerPage={quantityPerPage}");

        if (httpResponse.IsSuccessStatusCode)
        {
            totalPageQuantity = int.Parse(httpResponse.Headers.GetValues("pagesQuantity").FirstOrDefault());
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            polist = JsonSerializer.Deserialize<PurchaseHeaders[]>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
            StateHasChanged();
        }
        else
        {
            //Error handler
        }
    }

    public void Dispose()
    {
        _ = hubCon.DisposeAsync();
    }
}