@page "/salesinvoicelist"
@using Microsoft.AspNetCore.SignalR.Client
@using SonicWarehouseManagement.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Sales invoice</h2>
<hr />
<a href="/addsalesinvoice" class="btn btn-primary">Create new sales invoice</a>
<hr />
@if (silist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th style="font-size: small;">ID</th>
                <th style="font-size: small;">Invoice number</th>
                <th style="font-size: small;">Calendar day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var si in silist)
            {
                <tr>
                    <td style="font-size: small;">@si.ID</td>
                    <td style="font-size: small;">@si.Invoice_No</td>
                    <td style="font-size: small;">@si.Calendar_Day</td>
                    <td>
                        <a style="font-size: small;" href="/editsalesinvoice/@si.ID" class="btn-sm btn-primary">Edit</a>
                        <a style="font-size: small;" href="/deletesalesinvoice/@si.ID" class="btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    SalesInvoice[] silist;

    private HubConnection hubCon;

    protected override async Task OnInitializedAsync()
    {
        hubCon = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/SalesInvoiceHub"))
            .Build();

        hubCon.On("ReceiveMessage", () =>
        {
            CallLoadData();
            StateHasChanged();
        });

        await hubCon.StartAsync();
        await LoadData();
    }

    private void CallLoadData()
    {
        Task.Run(async () =>
        {
            await LoadData();
        });
    }

    protected async Task LoadData()
    {
        silist = await Http.GetJsonAsync<SalesInvoice[]>("api/SalesInvoicesManual");
        StateHasChanged();
    }

    public void Dispose()
    {
        _ = hubCon.DisposeAsync();
    }
}