@page "/viewinventory/{id}"
@using Microsoft.AspNetCore.SignalR.Client
@using SonicWarehouseManagement.Shared
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h2>Inventory</h2>
<hr />
<p>Order number: <b>@po.Item_Code</b></p>
<p>Bill Document: <b>@po.Transaction_Type</b></p>
<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Uom</th>
        </tr>
    </thead>
    <tbody>
        @if (pd == null)
        {
            // do nothing
        }
        else
        {
            @foreach (var items in pd)
            {
                <tr>
                    <td style="font-size: small">@items.Quantity</td>
                    <td style="font-size: small">@items.Uom</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    Inventory po = new Inventory();
    Inventory[] pd;

    private HubConnection hubCon;

    [Parameter]
    public string id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        po = await Http.GetJsonAsync<Inventory>("api/Inventories/" + id);
        pd = await Http.GetJsonAsync<Inventory[]>("api/Inventories/" + id);

        hubCon = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/InventoryHub"))
            .Build();

        await hubCon.StartAsync();
    }

    public bool IsConnected =>
        hubCon.State == HubConnectionState.Connected;

    Task SendMessage() => hubCon.SendAsync("SendMessage");

    public void Dispose()
    {
        _ = hubCon.DisposeAsync();
    }
}
