<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="/logo.png" height="45" width="45"></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="articlelist">
                <span class="oi oi-tags" aria-hidden="true"></span> Article Master
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="businesspartnerlist">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Business Partner
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="salesinvoicelist">
                <span class="oi oi-document" aria-hidden="true"></span> Sales Invoice
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="salesmanlist">
                <span class="oi oi-people" aria-hidden="true"></span> Salesman Master
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="purchaseorderlist">
                <span class="oi oi-basket" aria-hidden="true"></span> Purchase Order
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="salesorderlist">
                <span class="oi oi-book" aria-hidden="true"></span> Sales Order
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="deliveryreceiptlist">
                <span class="oi oi-script" aria-hidden="true"></span> Delivery Receipt
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inventorylist">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Inventory
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
